// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Figma colours:
$background-gray: #222831;
$dark-gray: #4C525C;
$off-white: #EEEEEE;
$bold-orange: #FF8536;
$orange: #E99F30;
$yellow: #FED530;
