// Specific CSS for your home-page
.banner {
  padding: 50px 0;
}

.banner h1 {
  color: $off-white;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner p {
  font-size: 23px;
  color: $off-white;
  // opacity: .7;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner img {
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  border: 3px solid #000000;
  border-radius: 25px;
  height: 500px;
}
