// Specific CSS for your home-page
.content {
  padding: 50px 50px;
  text-align: center;

  h2 {
    margin-bottom: 50px;
    font-size: 35px;
  }

  i {
    font-size: 3em;
    margin: 15px;
  }
}

.banner {
  padding: 50px 0;
  background-color: $off-white;
  border-bottom: 2px solid black;
}

.banner h1 {
  // margin: 0;
  color: black;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner p {
  font-size: 23px;
  color: black;
  // opacity: .7;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner img {
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  border: 3px solid #000000;
  border-radius: 25px;
  height: 500px;
}
