.form-container {
  margin: 20px;
  margin-top: 30px;
  display: inline-block;

  h3 {
    margin-bottom: 20px;
  }

  .form-button {
    display: flex;
    justify-content: center;
  }
}

.question {
  margin: 20px;
}

.question-block {
  margin: 20px;

}



.hidden {
  display: none;
}

.fade-in {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}




// GENERAL SEARCH BUTTONS

.tag-item {
  display: inline-block;
}

// Hides the checkbox & repositions
.tag-selector {
  position: absolute;
  transform: scale(0);
}

// Makes the label look like a button
.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  border-radius: 50px;
  padding: 0.1rem 0.5rem;
  color: $yellow;
  border: 1.5px solid $yellow;
  margin: 0.4rem 0.6rem;
  opacity: 0.5;
}

// Label/button when checked
.tag-selector:checked + label {
  opacity: 1;
  color: $yellow;
  border: 1.5px solid $yellow;
}

.directional {
  cursor: pointer;
}

.back {
  position: fixed; /* or absolute */
  top: 50%;
  left: 1%;
}

.forward {
  position: fixed; /* or absolute */
  top: 50%;
  right: 1%;
}
