<div class="container">
  <div class="row">
    <h1><%= "#{@user.username.capitalize}'s Profile"%></h1>
    <h3>Watchlist</h3>
  </div>

  <div class="row">
    <div class="watchlist-cards">
      <% @movies.each do |movie| %>
        <div class="watchlist-card">
          <div class="card-image">
            <%= image_tag(movie.poster_url, alt: "#{movie.title} cover art", width: 165, class: "watchlist-poster") %>
          </div>
          <div class="card-content">
            <p> <%= "#{movie.runtime.to_s} mins / #{movie.genres.first.capitalize} / #{movie.year.to_s}" %> </p>
            <h4> <%= movie.title %> </h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
