<div class="container">
  <div class="row">
    <h1><%= "#{@user.username.capitalize}'s Profile"%></h1>
    <h3>Watchlist</h3>
  </div>

  <div class="row">
    <div class="movie-watchlist-cards">
      <% @movies.each do |movie| %>
        <div class="movie-watchlist-card">
          <h4> <%= movie.title %> </h4>
          <p> <%= "#{movie.runtime.to_s} mins / #{movie.genres.first.capitalize} / #{movie.year.to_s}" %> </p>
          <%= image_tag(movie.poster_url, alt: "#{movie.title} cover art", width: 150) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
