<div class="banner">
  <div class="container">
    <div class="row">
      <div class="d-flex col-12 col-lg-6 justify-content-center align-items-start flex-column">
        <h1>Find your perfect film in two minutes</h1>
        <p>FreshPics matches the streaming services you have with the films movies you're in the mood for.</p>
       <%= link_to "Find a movie", search_path, class: "btn btn-white" %>
      </div>
      <div class="col-12 col-lg-6 align-middle d-none d-lg-block">

      </div>
    </div>
  </div>
</div>
