.btn-white {
  color: $off-white;
  border: 1.5px solid $off-white;
  padding: 7px 25px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-white:hover {
  background-color: $orange;
  border: 1px solid $orange;
}
