.dislike-card {
  display: flex;
  justify-content: flex-start;
  color: $off-white;
  background-color: $dark-gray;
  padding: 0;
  margin-left: 12px;
  margin-right: 20px;

  .dislike-info {
    align-self: center;
  }

  a {
    color: $off-white;
    text-decoration: none;
  }
  a:hover {
    color: $orange;
  }
}

.dislike-img {
  height: 124px;
  margin-right: 15px;
}
