#advanced-filter-modal {
  border: 1px solid $off-white;
}

.ad-filt-head {
  border-bottom: 1px solid $off-white;
  background-color: $dark-gray;
}

.ad-filt-body {
  background-color: $background-gray;
}

.ad-filt-footer {
  border-top: 1px solid $off-white;
  background-color: $dark-gray;
}
