// GENRE BUTTONS

// .genre-tag-wrapper {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
// }


.genre-tag-item {
  display: inline-grid;
  align-items: stretch;
  width: 120px;
  height: 50px;
  border-radius: 25px;
}

// Hides the checkbox & repositions
.genre-tag-selector {
  position: absolute;
  // transform-origin: top left; // -replaced with below to allow centering
  transform: scale(0);
}

// Makes the label look like a button
.genre-tag-selector + label {
  // grid-column-start: 2;
  cursor: pointer;
  // display: inline-block;
  // border-radius: 50px;
  padding: 0.1rem 0.5rem;
  color: $yellow;
  border: 1.5px solid $yellow;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  opacity: 0.5;
  text-align: center;
  line-height: 2.2;
}

// Label/button when checked
.genre-tag-selector:checked + label {
  opacity: 1;
  color: $yellow;
  border: 1.5px solid $yellow;
}



// BACKGROUND IMAGERY FOR EACH BUTTON / LABEL

#genres_biography + label {
  // color: #FD1015; to add background images if wanted...
}
