.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top: 30px;

  h3 {
    margin-bottom: 10px;
    text-align: center;
  }

  .form-button {
    display: flex;
    justify-content: center;
    margin: 0px 30px;
    .btn-1 {
      margin: 0px 20px;
    }
  }
}

.options {
  text-align: center;
}

.question {
  margin: 20px;
}

.question-block {
  margin: 20px;
}
