.form-container {
  margin: 20px;
  margin-top: 30px;
  display: inline-block;

  h3 {
    margin-bottom: 20px;
  }

  .form-button {
    display: flex;
    justify-content: center;
    margin: 0px 30px;
    .btn-1 {
      margin: 0px 20px;
    }
  }
}

// .options {
//   display: flex;
//   justify-content: center;
// }

.question {
  margin: 20px;
}

.question-block {
  margin: 20px;
}
