// NAVBAR POSITION AND ITEM SPACING
.logobar {
  width: 100%;
  background-color: $dark-gray;
  text-align: center ;
  border-bottom: 1px solid $off-white;
  padding: 5px;
    h2 {
      margin: 0px;
    }

}
