.refresh-button {
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  font-size: 300%;
  background-color: #E99F30;
  color: white;
  border: none;
  border-radius: 20%;
  margin-bottom: 0.5em;
  text-align: center;
}
