// // @import "bourbon";
// // @import "neat";

// $base-duration: 500ms;

// // Colors
// $color-1: #2c3e50;
// $color-2: #1abc9c;
// $color-3: #2ecc71;

// // Breakpoints
// $sm: new-breakpoint(min-width 320px);
// $med: new-breakpoint(min-width 768px);
// $lg: new-breakpoint(min-width 1024px);

// *, *:before, *:after {
// 	box-sizing: border-box;
// 	outline: none;
// }

// // html {
// // 	font-family: 'Roboto', sans-serif;
// // 	font-size: 16px;
// // 	font-smooth: auto;
// // 	font-weight: 300;
// // 	line-height: 1.5;
// // 	color: #444;
// // }

// // body {
// // 	position: relative;
// // 	display: flex;
// // 	align-items: center;
// // 	justify-content: center;
// // 	width: 100%;
// // 	height: 10vh;
// // 	// background-color:darken($color-1, 4%);
// // }

// figure {
// 	position: relative;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	width: auto;
// 	height: 375px;
// 	border-radius: 10px;
// 	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
// 	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
// 	overflow: hidden;
// 	&:hover {
// 		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
// 		img {
// 			transform: scale(1.25);
// 		}
// 		figcaption {
// 			bottom: 0;
// 		}
// 	}
// 	h2 {
// 		position: absolute;
// 		bottom: 5em;
// 		left: 50px;
// 		margin: 0;
// 		padding: 0;
// 		color: white;
// 		font-size: 40px;
// 		font-weight: 100;
// 		line-height: 1;
//     text-shadow: 0 1px 0 black;
// 	}
// 	img {
// 		height: 100%;
// 		transition: 0.25s;
// 	}

// 	figcaption {
// 		position: absolute;
// 		bottom: -33%;
// 		left: 0;
// 		width: 100%;
// 		//height: 50%;
// 		margin: 0;
// 		padding: 30px;
// 		background-color: rgba(black,0.85);
// 		box-shadow: 0 0 20px rgba(black,0.4);
// 		color: white;
// 		line-height: 1;
// 		transition: 0.25s;
// 		h3 {
// 			margin: 0 0 20px;
// 			padding: 0;
// 		}
// 		p {
// 			font-size: 14px;
// 			line-height: 1.75;
// 		}
// 		button {
// 			position: relative;
// 			display: flex;
// 			align-items: center;
// 			justify-content: center;
// 			margin: 10px 0 0;
// 			padding: 10px 30px;
// 			background-color: $color-2;
// 			border: none;
// 			border-radius: 5px;
// 			color: white;
// 			font-size: 14px;
// 		}
// 	}
// }

// .result-card-text {
//   position: relative;
// }

// .text-card-container {
//   position: absolute;
//   top: 0px;
// }

.result-card-single {
  height: auto;
}

.result-card {
  font-family: futura-pt, sans-serif;
  text-shadow: 0 1px 0 black;
  color: white;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  display: none;
}

.card-subtitle {
  padding-bottom: 1.5em;
}

.card-body {
  padding: 1rem 0 1.5em 0;
  cursor: pointer;
}

.result-card-expand {
  margin-left: 16px;
}

.streaming-logo {
  width: 100px;
  // height: 50px;
  margin-right: 0px;
}

.result-card-title:hover {
  color: $orange;
  text-decoration: none;
}

.result-card-collapse {
  display: flex;
  justify-content: space-between;
}

.expand-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  width: 100%;
}

.arrow-down {
  opacity: 0.5;
}

.genre-buttons-disabled {
  padding: 0.1rem 0.5rem;
  background-color: transparent;
  color: $yellow;
  border: 1.5px solid $yellow;
  margin: 0.4rem 0.6em;
  text-align: center;
  line-height: 2.2;
  opacity: 0.7;
  border: 1.5px solid $yellow;
  pointer-events: none;
}

.movie-title {
  width: 95%;
  cursor: pointer;
}

.dislike {
  font-size: 1.3rem;
  opacity: 0.8;
  cursor: pointer;
  padding: 0;
  z-index: 1;
}

.disliked-card {
  opacity: 0.5;
  pointer-events: none;
}

.platform-section {
  text-align: end;
}

.review-icon {
  opacity: 0.8;
}

.result-nav {
  min-height: 210px;
}
