.tabbed-content {
  padding-top: 24px;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  background-color: black;
  color: white;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid $orange;
}

.tabs-results {
  margin-top: 8px;
}

.back-button {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.poster-card {
  display: flex;
  justify-content: space-around;
}

// .details-card {
//   margin-bottom: 160px;
// }
