.user-platform {
  // margin: 0, 20px;
  height: 75px;
  width: 150px;
}

.user-platform-unselected {
  opacity: 0.5;
}

.user-platform-form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-platform-submit {
  margin-top: 20px;
  width: auto;
}

@media screen and ( max-height: 680px ) {
  .platform-list {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    max-height: 232px;
    overflow-y: scroll;
  }
  .user-platform {
    // margin: 0, 20px;
    height: 70px;
    width: auto;
    padding: 8px;
  }
}
